
#frase{
  /* min-height: 70vh;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #999;
}

/* 
  --green: #00b755;
  --red: #ca4754;
*/