.correct {
  font-weight: bold;
  color: #0dce1d;
}

.incorrect {
  font-weight: bold;
  color: #ce0d0d;
}

.active {
  font-weight: bold;
}

.app-content {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  font-size: larger;
  margin: auto;
}
