@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto.ttf') format('truetype');
}

* {
  color-scheme: light dark;
  background-color: #222;
  font-family: 'Roboto', Arial, sans-serif;
  color: #daaf38;
  user-select: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 32px;
}
