@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto.ttf') format('truetype');
}

* {
  background-color: #323437;
  font-family: 'Roboto', Arial, sans-serif;
  color: #e2b714;
  user-select: none;
}
